<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>


        <p>I Love Movies!!! ON LOCAL HOST 8080</p>

        <a href="bestMovie">Find the best Movie!</a>
        <a href="voteForBestMovieForm">Vote for a BEST MOVIE!</a>
        <a href="addMovieForm">Add a Movie Form</a>

    </body>
</html>